aiofiles
aiohttp
cowpy
dnspython
emoji==0.6.0
feedparser
ffmpeg-python
gitpython
hachoir
heroku3
motor
Pillow==8.1.1
psutil
pybase64
pyrogram==1.2.9
pySmartDL
pysocks
python-dotenv
pytz
rarfile
requests
search-engine-parser
setuptools>=40.3.0
spamwatch
speedtest-cli
stagger
tgcrypto
wget
youtube_dl>=2021.1.8
youtube-search-python
